
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-size: 16px; */
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
  }

.CardWrapper{
    padding: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ChatItem{
    width: 50px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    position: relative;
};
.ChatItem span{
        display: flex;
        flex-direction: column !important;
        align-items: flex-end;
    }
.ChatItem img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 100%;
}
.ChatItem svg{
    position: relative;
    z-index: 2;
    font-size: 20px;
    fill: #39A0DA;
    position: absolute
}

.StyledChatWrapper{
    flex-direction: column;
    position: fixed;
    z-index: 10;
    height: 400px;
    width: 400px;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    right: calc(8.3% + 22px);
    overflow: hidden;
}

.ChatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    height: 15%;
    padding-right: 15px;
}